<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> <!-- Character encoding for the document -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Make it responsive on mobile devices -->
  <title>Graph Viewer</title> <!-- The title of the web page -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css"> <!-- Link to the external CSS file -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Include the Chart.js library -->
</head>
<body>
  <div class="container"> <!-- The main container for the content -->
    <h1>BMS Challenge - A data story</h1>

    <h2>Graph Analysis</h2>

    <div class="button-container"> <!-- A container for the buttons -->
      <button class="graph-btn" id="btn-graph1">Graph 1: BRISTOR Sales</button> <!-- Button for Graph 1 -->
      <button class="graph-btn" id="btn-graph2">Graph 2: Demand Share (% BMS / Total competition)</button> <!-- Button for Graph 2 -->
      <button class="graph-btn" id="btn-graph3">Graph 3: Voice Share A </button> <!-- Button for Graph 3 -->
      <button class="graph-btn" id="btn-graph4">Graph 4: New Patient Share A </button>
      <button class="graph-btn" id="btn-graph5">Graph 5: New Patient Share B </button>
      <button class="graph-btn" id="btn-graph6">Graph 6: Voice Share B </button>
    </div>
    
    <div class="canvas-container"> <!-- Container for the canvas element -->
      <canvas id="myChart"></canvas> <!-- Canvas where the charts will be drawn -->
    </div>
    <div id="graph-description" class="graph-description">
      <!-- Placeholder for explanation text -->
       
      <p id="graph-description-text">Click a button above to view the corresponding chart information.</p>
    </div>
    <div class="graph-message" id="graphMessage"></div> <!-- ESTO TIENE QUE SER EL MENSAJE DE ABAJO-->
  </div>

  <div class="container"> <!-- New container for more graphs -->
    <h2>Prediction models</h2>

    <h4>Input a value and select a model below to get an interactive forecast model based on the data of the company</h4>
   <form id="myForm" action="/predict" method="post">
        <label for="inputValue">Enter a value:</label>
        <input type="number" id="inputValue" name="inputValue" required step="1" min="0" max="100">

        <label for="dropdownValue">Choose an option:</label>
        <select id="dropdownValue" name="dropdownValue">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>

        <button class="run-function-button" type="submit">Run Function</button>
    </form>
  </div>
  <script src="../static/js/script.js"></script>
</body>
</html>
